.headerContainer {
    height: 5rem;
    border-bottom: 1px solid #29292E;
}

.headerContent {
    max-width: 1120px;
    display: flex;
    padding: 0 2rem;
    height: 5rem;
    align-items: center;
    margin: 0 auto;
    nav{
        margin-left: 5rem;
        height: 5rem;
        a  {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem; // Se colocar o lineheight do tamanho da altura ele fica centralizado
            color: var(--gray-300);
            transition: color 0.2s;

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--white)
            }
            &.active {
                color: var(--white);
                font-weight: 700;
            }
            &.active::after {
                content: '';
                height: 3px;
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                
                background: var(--yellow-500);

            }
        }
    }

    button {
     margin-left: auto;    
    }
}